.container {
    position: relative; 
    width: 500px; 
    height: 400px; 
    margin: 50px auto;
}

.a {
    position: absolute;
    left: 210px;
    right: 0px; 
    top: 0px;   
    bottom: 0px;
    
    background-color: #4a86e8; 
    color: white;
    padding: 15px;
    font-weight: bold;
    z-index: 1; 
    visibility: hidden;

}

.b {
    position: absolute;
    left: 220px; 
    right: 300px; 
    bottom: 10px; 
    
    width: 120px; 
    height: 50px; 
    
    background-color: #38761d; 
    text-align: center;
    padding: 5px;
    font-size: 14px;
    z-index: 4; 
}

.c {
    position: absolute;
    left: 0px;
    top: 0px;
    
    width: 170px;
    height: 170px;
    
    background-color: #4a86e8; 
    color: white;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    z-index: 2; 
    visibility: hidden;
}

.d {
    position: absolute;
    left: 10px;
    bottom: 10px; 
    
    width: 120px;
    height: 50px;
    
    background-color: #38761d; 
    text-align: center;
    padding: 5px;
    font-size: 14px;
    z-index: 3; 
}

.d:hover ~.c{
    visibility: visible;
}
.b:hover ~.a{
    visibility: visible;
}

.d:hover {
    background-color: #9ed288; 
}

.b:hover {
    background-color: #9ed288; 
}