body {
    background-color: #333; 
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form-container {
    width: 620px;
    background-image: url('https://funart.pro/wp-content/uploads/2021/07/krutoj-fon-64-foto-550x413.jpg'); 
    background-size: cover;
    background-position: center;
    border: 20px solid #868686;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    font-size: 25px;
    color: #7d21b3;
    font-weight: 700;
    font-style: italic;
    margin: 20px;
    position: relative;
    line-height: 1.5; 
}

.form-title::first-letter {
    font-size: 50px;
    color: pink;
}

.form-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: red;
}

.form-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: 3px;
    background-color: red;
}


.form-title:hover{
    text-align: center;
    font-size: 25px;
    color: #7d21b3;
    font-weight: 700;
    font-style: italic;
    margin: 20px;
    position: relative;
    line-height: 1.5; 
}

.form-title:hover::after {
    background-color: limegreen;

}
.form-title:hover::before{
    background-color: limegreen;

}

label {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.form-group {
    width: 280px;
    margin-bottom: 20px;
    float: left;
    box-sizing: border-box;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
    display: block;
    font-family: inherit;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    border-radius: 10px;
    opacity: 0.6;
    border: none;
    outline: none;
    transition: box-shadow 0.1s , opacity 0.1s; 
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 250px;
    height: 30px;
}

.textarea-group {
    width: 100%;
    float: none;
    clear: both;
}

textarea {
    width: 540px;
    height: 46px;
    resize: none;
    padding: 5px 5px 5px 20px;
}

textarea::first-line {
    color: red;
}


input:focus, textarea:focus {
    opacity: 1; 
}



input[type="text"]:hover, 
input[type="email"]:hover {
    box-shadow: 0 4px 0 0 #fbff00; 
}

input[type="text"]:focus, 
input[type="email"]:focus {
    box-shadow: 0 4px 0 0 #ffa600; 
}



input[type="password"]:hover {
    box-shadow: 0 4px 0 0 #1eff00; 
}

input[type="password"]:focus {
    box-shadow: 0 4px 0 0 #00ffea; 
}


textarea:hover {
    box-shadow: 0 0 10px 5px rgba(233, 27, 154, 0.6); 
}

.buttons-container {
    text-align: right; 
    margin-top: 30px;
}

.btn {
    width: 130px;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.15s, color 0.15s, border-radius 0.15s;
    position: relative; 

    color: white;
    border-radius: 15px; 
}

.ok-btn:active, .reset-btn:active {
    border-radius: 25px; 
}

.reset-btn {
    border: 3px solid #e64a19; 
    color: #e64a19; 
}

.reset-btn:hover {
    background-color: #e64a19;
    color: #ffffff; 

}

.reset-btn:active {
    background-color: #a02904; 
    color: #ffffff; 

}
.ok-btn {
    border: 3px solid #0097a7; 
    color: #0097a7; 
}

.ok-btn:hover {
    background-color: #0097a7;
    color: #ffffff; 

}

.ok-btn:active {
    background-color: #014950;
    color: #ffffff; 

}