/* 1. Комбінатор нащадків класу та тегу: span всередині p з класом .text-background */
/* Курсив, жирність, підкреслення */
p.text-background span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

/* 2. Комбінатор нащадків тегу, класу та тегу: span всередині p з .text-background, що в div */
/* Колір фону жовтий */
div p.text-background span {
    background-color: yellow;
}

/* 3. Комбінатор нащадків двох тегів: span всередині іншого span */
/* Колір фону сірий; текст перекреслений */
span span {
    background-color: gray;
    text-decoration: line-through;
}

/* 4. Комбінатор нащадків трьох тегів: span всередині span, що в ol */
/* Розмір шрифту 18px; у верхній регістр */
ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

/* 5. Комбінатор дочірнього елементу двох тегів: p на першому рівні вкладеності в section */
/* Тінь та відступ першого рядка */
section > p {
    /* Тінь: 3px 3px 5px, колір обрано червоний */
    text-shadow: 3px 3px 5px #ff0000;
    text-indent: 50px;
}

/* 6. Комбінатор дочірнього елементу двох тегів: ul на першому рівні вкладеності в li */
/* Замінити маркер списку на зображення */
/* Примітка: зображення 'marker.png' має існувати */
li > ul {
    list-style-image: url('images/marker.png');
}

/* 7. Комбінатор дочірнього елементу тегу та класу: p з .text-background на першому рівні вкладеності в div */
/* Інтервал між словами 50px */
div > p.text-background {
    word-spacing: 50px;
}

/* 8. Комбінатор дочірнього елементу класу та тегу: p на першому рівні вкладеності в div з класом .text-bold */
/* Жирність */
div.text-bold > p {
    font-weight: bold;
}

/* 9. Комбінатор дочірнього елементу класу та двох тегів: p на першому рівні вкладеності в section, який є прямим нащадком div з .text-bold */
/* Міжрядковий інтервал тексту 45px */
div.text-bold > section > p {
    line-height: 45px;
}

/* 10. Комбінатор наступного сусіднього елемента одного рівня двох тегів: p розташований одразу за img */
/* Колір фону коричневий */
img + p {
    background-color: brown;
}

/* 11. Комбінатор всіх сусідніх елементів одного рівня двох тегів: p розташовані після section на тому ж рівні */
/* Колір тексту червоний */
section ~ p {
    color: red;
}