.container {
    position: relative; /* Базовий елемент для абсолютного позиціонування */
    width: 500px; /* Задаємо максимальну ширину */
    height: 400px; /* Задаємо висоту, щоб вмістити всі блоки */
    margin: 50px auto;
}


.a {
    position: absolute;
    top: 0px;
    background-color: rgb(195, 228, 199);
    left: 25px;
    z-index: 1; 
}

.b {
    position: absolute;
    top: 50px; 
    background-color: rgb(191, 224, 179);
    left: 100px;
    right: 100px; 
    z-index: 2; 
}

.c {
    position: absolute;
    top: 100px; 
    background-color: rgb(177, 186, 217);
    left: 175px;
    right: 175px; 
    z-index: 3; 
}