/* 1. Селектор тегу (a) */
/* Усім посиланням меню задати фіолетовий колір тексту. */
a {
    color: purple;
}

/* 2. Селектор класу (.main-link) */
/* Лише пунктам головного меню (посиланням) задати зелений колір тексту. */
.main-link {
    color: green;
}

/* 5. Прибрати маркери у вкладених списках (Комбінатор нащадків трьох тегів)  */
/* ul, що є нащадком li, що є нащадком ul, - це вкладений список. */
ul li ul {
    list-style-type: none;
}

/* 3. Селектор класу (.berries-list) */
/* Змінити тип маркера останнього (вкладеного) списку на квадрат[cite: 380]. */
.berries-list {
    /* Цей більш специфічний селектор перевизначає загальне правило вище */
    list-style-type: square;
}

/* 4. Селектор класу (.vegetables-list) */
/* Змінити тип маркера другого (вкладеного) списку на піктограму[cite: 381]. */
.vegetables-list {
    /* Примітка: Файл 'icon.png' має існувати за вказаним шляхом */
    list-style-image: url('li.svg');
}

/* 6. Комбінатор нащадків класу та тегу (.berries-list a) */
/* Для посилань, що знаходяться в останньому списку, прибрати підкреслення. */
.berries-list a {
    text-decoration: none;
}

/* 7. Селектор тегу (ol) */
/* Для нумерованого списку в блоці "Різне" задати внутрішнє розташування маркерів/нумерації. */
ol {
    list-style-position: inside;
}