.box {
    color:white;
    font-size:100px;
    text-align:center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 1);
    padding: 10px;
    width: 100px;
}

.box1 {background-color: rgb(18, 176, 123);}
.box2 {background-color:rgb(56, 56, 197);}
.box3 {background-color:blueviolet;}
.box4 {background-color:rgb(92, 92, 92);}
.box5 {background-color: #f1c40F;}
.box6 {background-color: #e67e22;}
.box7 {background-color: #e74c3c;}
.box8 {background-color: #bdc3e7;}
.box9 {background-color: #2ecc71;}
.box10 {background-color: #16a085;}



.container {
    display: flex;
    border:10px solid goldenrod;
    min-height: 99vh;
    flex-direction: row;

}

