body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    background-color: #dedede; 
    font-family: sans-serif;
}

.weather-widget {
    position: relative; 
    width: 300px;
    height: 400px; 
}

.main-card {
    position: absolute;
    top: 50px;
    left: 0;
    width: 250px; 
    height: 250px;
    background-color: #111; 
    color: white;
    padding: 20px;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

.current-temp {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    color:rgba(255, 255, 255, 0.3);
    bottom: 0;
    left: 10px;
}

.nav-arrows {
    position: absolute;
    top: 100px;
    left:-47px;
    font-size: 35px;
    opacity: 0.5; 
    display: flex;
    background-color: rgba(158, 158, 158, 0.767); 
    color:black;
    padding: 5px;
}

.arrow {
    margin: 0 5px;
}

.cloud-image {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 300px;
    height: 180px;
    z-index: 3; 
    
    
    background: none; 
    border-radius: 0; 

    background-image: url('cloud.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    

}


.forecast-card {
    display: flex;
    position: absolute;
    top:300px;
    align-items:end;
    left:100px;
    width: 300px; 
    height: 75px;
    background-color:rgba(251, 251, 251, 0.864);
    padding: 15px 10px;
    justify-content: space-around;
    
    box-shadow: 5px 5px 20px rgba(77, 77, 77, 0.3);
    z-index: 1;
    opacity: 0.95; 
    text-align: center;
    font-size: 14px;
}

.day-forecast {
    flex-grow: 1;
}

.day-label {
    opacity: 0.7; 
    margin-bottom: 5px;
}

.day-temp {
    font-weight: bold;
}