* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffaf5;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

header {
  overflow: hidden;
  margin-bottom: 20px;
}

.logo {
  float: left;
}

.logo img {
  width: 60px;
  height: 60px;
}

.menu {
  float: right;
  margin-top: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu a {
  text-decoration: none;
  background-color: #ff6600;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #e65500;
}

.card {
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 10px;
  border-color: green;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin: 15px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #444;
  padding: 0 10px;
}

.shadow1 {
  box-shadow: -5px -5px 3px 3px green;
}

.shadow2 {
  box-shadow: 0 0 10px 5px green;
}

.shadow3 {
  box-shadow: 5px 5px 3px 3px rgb(136, 224, 85);
}

.shadow4 {
  box-shadow: 0 0 20px 10px green;
}

.shadow5 {
  box-shadow: -4px 0 0px 0 red, 4px 0 0px 0px blue, 0 4px 0px 0px orange, 0 -4px 0px 0px green;
}

.shadow6 {
  box-shadow: 0 -10px 0 -7px green, 0 10px 0 -7px orange;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}