
#recipe-body {
    font-size: 18px;               
    text-align: center;           
}

p {
    line-height: 1.5;         
    margin: 10px auto;      
}



.quote-style {
    font-size: 20px;
    margin-top: 30px;
}

.quote-style a {
    text-decoration: none;  
    text-shadow: 1px 1px 0px #e0f2f1;
}
